<header>
  <navbar></navbar>
</header>

<div class="container">
  <h1 class="text-center">Politica sulla Privacy</h1>
  <p class="text-muted text-center">Ultimo aggiornamento: Febbraio 2025</p>

  <p>La privacy dei nostri utenti è molto importante per noi. In questa informativa, spieghiamo come raccogliamo, utilizziamo e proteggiamo i tuoi dati personali quando utilizzi il nostro sito.</p>

  <h3>1. Raccolta delle informazioni</h3>
  <p>Raccogliamo informazioni quando visiti il nostro sito o interagisci con i nostri servizi. Queste informazioni possono includere dati personali come nome, indirizzo email, e informazioni di navigazione.</p>

  <h3>2. Uso dei dati personali</h3>
  <p>I dati raccolti vengono utilizzati per fornirti un servizio migliore, personalizzare la tua esperienza sul sito, inviare comunicazioni relative ai nostri servizi e migliorare la sicurezza del sito.</p>

  <h3>3. Condivisione dei dati</h3>
  <p>Non condividiamo i tuoi dati personali con terze parti, tranne nei casi in cui è necessario per adempiere a obblighi legali o per fornire determinati servizi tramite terzi da noi selezionati.</p>

  <h3>4. Protezione dei dati</h3>
  <p>Adottiamo misure di sicurezza appropriate per proteggere i tuoi dati da accessi non autorizzati, alterazioni, divulgazioni o distruzioni.</p>

  <h3>5. I tuoi diritti</h3>
  <p>Hai il diritto di accedere ai tuoi dati personali, di correggerli, di richiedere la loro cancellazione o di limitare il loro trattamento. Per esercitare questi diritti, puoi contattarci utilizzando le informazioni fornite nella sezione "Contatti".</p>

  <h3>6. Modifiche alla politica sulla privacy</h3>
  <p>Ci riserviamo il diritto di modificare questa politica sulla privacy in qualsiasi momento. Le modifiche saranno pubblicate su questa pagina e saranno effettive immediatamente dopo la pubblicazione.</p>

  <h3>7. Contatti</h3>
  <p>Per qualsiasi domanda relativa alla nostra politica sulla privacy o per esercitare i tuoi diritti, puoi contattarci tramite la nostra  <button class="btn" onclick="location.href='/contacts'">Pagina di Contatto</button>
</div>

<app-footer></app-footer>
